<div class="SpaceXWrapper">
    <div class="SpaceXContainter">
        <h1 title="spaceXHeader">{{spaceXHeader}}</h1>
        <div class="sidebar">
            <h3>Filters</h3>
            <div class="launch">
                <input type="text" placeholder="Launch Year" (change)="filterLaunchYear($event.target.value)">
                <ul>
                    <li *ngFor="let year of launchYear;">
                        <button (click)="launchYearButtonClick(year)">{{year}}</button>
                    </li>
                </ul>
            </div>
            <div class="launch">
                <input type="text" placeholder="Successful Launch"
                (change)="launchButtonStateChange($event.target.value)">
                <button (click)="launchSuccess()">{{launchButtonState[0]}}</button>
                <button (click)="launchFailure()">{{launchButtonState[1]}}</button>
            </div>
            <div class="land">
                <input type="text" placeholder="Successful Land" (change)="landButtonStateChange($event.target.value)">
                <button (click)="landSuccess()">{{landButtonState[0]}}</button>
                <button (click)="landFailure()">{{landButtonState[1]}}</button>
            </div>
        </div>
        <app-sapient-detail-page [isLauchSucess]="lauchSucess" [isLandSuccess]="landSucess"
        [lauchYearValue]="lauchYearValue"></app-sapient-detail-page>
    </div>
</div>