
        <div class="spaceXGallery" title="SpaceX Gallery">
            <div class="card" *ngFor="let spaceXData of spaceXGallery;">
                <div class="thumbnail" title="SpaceX images"><img src="{{spaceXData?.links?.mission_patch_small}}" alt="{{spaceXData?.mission_name}}" /></div>
                <span class="missionName" title="mission name">{{spaceXData?.mission_name}} # {{spaceXData?.flight_number}}</span>
                <p title="misson Id">MissionIds :<span>{{spaceXData?.mission_id}}</span></p>
                <p title="launch Year">Launch Year:<span>{{spaceXData?.launch_year}}</span></p>
                <p title="Successful Launch">Successful Launch: <span>{{spaceXData?.launch_success}}</span></p>
                <p title="Successful Land">Successful Landing: <span>{{spaceXData?.launch_landing}}</span></p>
            </div>
            <h2 *ngIf="showNoData" class="showData"> No Data Found </h2>
            <p class="developer">Developed By: <span>Kamala Prakash</span></p>
        </div>